
.normal {
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
  background: linear-gradient(to right, rgb(33, 147, 176), rgb(109, 213, 237));
  padding: .6em 0;
  color: white;
  margin: 0;
}

.content {
  padding-left: 300px;
  padding-right: 300px; 
  margin-top: 50px;
}

@media only screen and (max-width: 1200px) {
  .content {
    padding-left: 50px;
    padding-right: 50px; 
  }
}

@media only screen and (max-width: 400px) {
  .content {
    padding-left: 20px;
    padding-right: 20px; 
  }
}

@media only screen and (max-width: 300px) {
  .content {
    padding-left: 5px;
    padding-right: 5px; 
  }
}
